img  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        filter: grayscale(80%);
        border: 3px solid #000;
        border-radius: 20px;
        
    }

    div.footer {
        text-align: center;
    }

    p.thick {
        font-weight: bold;
    }
